<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{layout/base :: head('Game')}"></head>

<body>

<div th:replace="~{layout/base :: layout(~{::section})}">

    <section>

        <div class="panel">

            <div class="game-info">

                <div class="game-code">
                    Game code:
                    <span th:text="${game.code}"></span>
                </div>

                <div class="connection-status">
                    WebSocket: CONNECTED
                </div>

            </div>

            <div id="game-status" class="turn-indicator"></div>

        </div>


        <div class="boards">

            <div class="board-container">

                <h3>Your Fleet</h3>

                <div id="player-board"></div>

            </div>

            <div class="board-container">

                <h3>Enemy Waters</h3>

                <div id="enemy-board"></div>

            </div>

        </div>


        <div class="panel event-log">

            <div class="panel-title">Game Events</div>

            <div id="event-log" class="event-list"></div>

        </div>

    </section>

</div>


<script th:inline="javascript">

    window.gameConfig = {
        gameId: [[${game.id}]],
        status: [[${game.status}]],
        playerId: [[${playerId}]]
    };

</script>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

<script th:src="@{/js/websocket.js}"></script>
<script th:src="@{/js/board.js}"></script>
<script th:src="@{/js/game.js}"></script>

</body>
</html>