<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Battleships Lobby</title>
</head>

<body>

<h1>Battleships Lobby</h1>

<h3>Create Game</h3>

<form method="post" th:action="@{/games/create}">
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}" />
    <button type="submit">Create Game</button>
</form>

<hr>

<h3>Open Games</h3>

<table border="1">

    <tr>
        <th>Code</th>
        <th>Host</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    <tr th:each="game : ${games}">

        <td th:text="${game.code}"></td>
        <td th:text="${game.host.username}"></td>
        <td th:text="${game.status}"></td>

        <td>
            <form method="post" th:action="@{/games/join}">
                <input type="hidden"
                       th:name="${_csrf.parameterName}"
                       th:value="${_csrf.token}" />

                <input type="hidden" name="code" th:value="${game.code}"/>

                <button type="submit">Join</button>
            </form>
        </td>

    </tr>

</table>

<br>

<a href="/logout">Logout</a>

</body>
</html>