<!DOCTYPE html>
<html>
<head>
    <title>WebSocket Test</title>

    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

</head>

<body>

<h2>WebSocket Test</h2>

<button onclick="connect()">Connect</button>
<button onclick="send()">Send Ping</button>

<pre id="log"></pre>

<script>

    let stompClient = null;

    function log(msg){
        document.getElementById("log").textContent += msg + "\n";
    }

    function connect(){

        const socket = new SockJS('/ws');
        stompClient = Stomp.over(socket);

        stompClient.connect({}, function(frame){

            log("Connected: " + frame);

            stompClient.subscribe('/topic/test', function(message){

                log("Received: " + message.body);

            });

        });

    }

    function send(){

        stompClient.send("/app/ping", {}, "Hello Server");

    }

</script>

</body>
</html>